
/* Core colours used */
:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

 /* Header styling */
 .header {
  background-color: #232528;
}
/* End of header styling */


/* Body styling */
body{
  font-family: "sans-serif";
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
/* End of body styling */


/* Footer styling */
.footer {
  height: auto;
  background-color: #232528;
  clear: both;
}
/* End of footer styling */


/* Container for body of all pages */
 .container {
  min-height: 70vh;
  background-color: #54585f;
  max-width: 1920px !important;
  padding: 0;
 }


