.loginWrapper {
    min-height: 65vh;
}

.loginForm { 
    height: auto;
    text-align: center;
    padding: 2.5%;
    width: 460px;
    margin: 5% auto auto auto;
    background-color: var(--mainWhite);
    border-radius: 25px;
}
