.signUpForm {
    width: 450px;
    margin: 4% auto;
    background-color: var(--mainWhite);
    border-radius: 30px;
    text-align: center;
    padding: 1% 4%;
}

form label, form input {
    display: block;
    width: 100%;
}

form input {
    padding: 9px;
    border: solid 1px #BDC7D8; 
    border-radius: 4px;
}

.button {
    width: 50%;
    margin: 6% 20% 6% 25%;
    border-radius: 7px;
    background-color: #0083cf ;
    color: white;
    font-weight: bold;
}

.button:hover{
    background-color: #006ba8;
    cursor: pointer;
  }

.errorMessage {
    color: #cc0000;
    margin-bottom: 12px;
  }