  .featureImage {
    width: 100%;
    height: auto;
   }
  
   .tempSearchBar {
     margin: 0 auto;
     display: block;
     background-color: #232528;
   }
  
  .websitePurposeText {
    position: absolute;
    top: 45%;
    left: 43%;
    color: red;
  }
  
  .callToAction {
    position: absolute;
    bottom: 40%;
    left: 45%;
  }

   .promotionItem {
    border: solid 1px var(--mainYellow);
   }
  
   .landingPageWrapper h1 {
     text-align: center;
   }

   .homeBody {
    min-height: 70vh;
  }
    
   .promotions {
    padding: 3%;
    min-height: 70vh;
   }
  
