   .featureContainer {
     position: relative;
     display: inline-block;
  }

  .featureContainer .text {
   position: absolute;
   top: 35%;
   left: 0;
   right: 0;
   margin: 0 auto;
   color: #aaa9ad;
   text-align: center;
  }
 
  .featureContainer .text h2 {
  font-size: xx-large;
  line-height: 1.5;
  }

  .featureContainer .callToAction {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;;
  }
  
 .featureImage {
    width: 100%;
    height: auto;
   }
  
  .landingPageWrapper h1 {
     text-align: center;
  }

   .homeBody {
    min-height: 70vh;
    display: flex;
    justify-content: center;

  }

  .promotionsTitle {
   margin-top: 3%;
   padding: 1%;
  }
    
   .promotions {
    padding: 1% 5%;
    min-height: 70vh;
   }
  
