   .featureContainer {
     position: relative;
     display: inline-block;
  }

  .featureContainer .text {
   position: absolute;
   top: 35%;
   left: 0;
   right: 0;
   margin: 0 auto;
   color: #aaa9ad;
   text-align: center;
  }
 
  .featureContainer .text h2 {
  font-size: xx-large;
  line-height: 1.5;
  }

  .featureContainer .callToAction {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;;
  }
  
 .featureImage {
    width: 100%;
    height: auto;
   }
  
  .search-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .search-container .search-bar {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 4% auto;
    text-align: center;;
    width: 200px;
  }

  .search-container .callToAction {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;;
  }

  .landingPageWrapper h1 {
     text-align: center;
  }

   .homeBody {
    min-height: 70vh;
  }
    
   .promotions {
    margin-top: 10%;
    padding: 3%;
    min-height: 70vh;
   }
  
