.categoryColumn {
    width: 20%;
    background-color: #36393f;
    color: var(--mainWhite);
    text-align: center;
    min-height: 70vh;
    padding: 3%;
    float: left;
  }
 
  .contentColumn {
   width: 80%;
   background-color: var(--mainWhite);
   padding: 3%;
   float: right;
  }
 