.categoryColumn {
    width: 20%;
    background-color: #54585f; 
    float: left;
    color: var(--mainWhite);
    text-align: center;
    height: auto;
    padding: 3%;
  }
 
  .contentColumn {
   width: 80%;
   background-color: var(--mainWhite);
   padding: 3%;
   float: right;
   min-height: 70vh;
  }
 