.songGrid {
    display: flex;
    flex-wrap: wrap;
}

.titleContainer {
  height: 65px;
}

.singleSong {
    border-radius: 5px;
    padding: 20px;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    width: 23%;
    text-align: center;
  }

  .details p {
  font-size: small;;
  }


