.songGrid {
    display: flex;
    flex-wrap: wrap;
}

.song {
    border-radius: 5px;
    padding: 20px;
    margin: 4%;
    width: 23%;
    background-color: rgb(185, 185, 185);
    text-align: center;
  }

  .details p {
  font-size: small;;
  }

  .details {
    float: left;
  }

  .songLength {
    float: right;
  }

  .slider {
    float: left;
    width: 70%;
    margin-top: 5%;
  }