.titleContainer {
  height: 65px;
}

.songGrid {
    display: flex;
    flex-wrap: wrap;
}

.mySong {
    border-radius: 5px;
    padding: 20px;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    width: 23%;
    text-align: center;
  }

  .details {
    float: left;
    width: 100%;
    text-align: left;
  }

  .songLength {
    float: right;
  }

  .editBtn {
    width: 42%;
    margin: 3% 2%;
    border-radius: 7px;
    background-color: #0083cf ;
    color: white;
    font-weight: bold; 
  }

  .deleteBtn {
    width: 42%;
    margin: 3% 2%;
    border-radius: 7px;
    background-color: #0083cf ;
    color: white;
    font-weight: bold; 
  }

  .slider {
    float: left;
    width: 70%;
    margin-top: 4%;
  }