.promotionGrid {
    display: flex;
    flex-wrap: wrap;
}

.songIcon {
    height: 26px;
    width: 32.5px;
    float: left;
}

.song {
    border-radius: 5px;
    margin: 4%;
    width: 23%;
    background-color: rgb(185, 185, 185);
    text-align: center;
  }
  
  .promotionSongLength {
    width: 100%;
  }

  .promotionSongDetails {
    float: left;
    margin-left:5%;
  }

  .promotionSongSlider {
    float: left;
    width: 55%;
    margin: 1% 5%;
  }
